@import "tailwindcss";

@theme {
  --color-primary: #7c5357;
  --color-primary-hover: #674246;
  --color-primary-container: #e8b4b8;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #6b4448;
  --color-primary-fixed: #ffdadc;
  --color-primary-fixed-dim: #eeb9bd;
  --color-on-primary-fixed: #301216;

  --color-secondary: #71547c;
  --color-secondary-container: #f5d0ff;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #74567e;
  --color-secondary-fixed: #f8d8ff;
  --color-secondary-fixed-dim: #dfbae9;

  --color-tertiary: #745849;
  --color-tertiary-container: #debaa7;
  --color-tertiary-fixed: #ffdbc9;

  --color-surface: #fdf9f3;
  --color-surface-dim: #dddad4;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f7f3ed;
  --color-surface-container: #f1ede7;
  --color-surface-container-high: #ebe8e2;
  --color-surface-container-highest: #e6e2dc;

  --color-on-surface: #1c1c18;
  --color-on-surface-variant: #504444;
  --color-outline: #827474;
  --color-outline-variant: #d4c2c3;

  --font-display: 'Plus Jakarta Sans', sans-serif;
  --font-headline: 'Plus Jakarta Sans', sans-serif;
  --font-title: 'Plus Jakarta Sans', sans-serif;
  --font-body: 'Nunito Sans', sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}


.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

